@charset "utf-8";
.mask{margin:0;padding:0;border:none;width:100%;height:100%;background:#333;opacity:0.6;filter:alpha(opacity=60);z-index:9999;position:fixed;top:0;left:0;display:none;}
#LoginBox{position:absolute;
	top:150px;
	background:white;
	left:50px;
	width:80%;
	height:682px;
	border:3px solid #444;border-radius:7px;z-index:10000;display:none;}
.row1{background:#f7f7f7;padding:0px 20px;line-height:150px;height:150px;font-weight:bold;
	color:#666;font-size:70px;}
.row{height:177px;line-height:177px;padding:0px 30px;font-family:华文楷体;font-size:70px;}
.close_btn{font-family:arial;font-size:70px;font-weight:700;color:#999;text-decoration:none;float:right;padding-right:4px;}
.inputBox{border:1px solid #c3c3c3;padding:1px 3px 6px 3px;border-radius:5px;margin-left:5px;}
#txtName{height:127px;width:60%;border:none;font-size: 70px;}
#txtPwd{height:127px;width:60%;border:none;font-size: 70px;}
#loginbtn{color:White;background:#4490f7;text-decoration:none;padding:10px 95px;margin-left:87px;margin-top:40px;border-radius:5px;opacity:0.8;filter:alpha(opacity=80);}

.warning{float:right;color:Red;text-decoration:none;font-size:20px;font-weight:bold;margin-right:20px;display:none;}